
* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body, html {
    margin: 0;    
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 2px 3px grey;
    min-height: 100vh;
}






/* GRID CONTAINER */

.container {
    height: 100vh;
    display: grid ;
    grid-template-columns: minmax(100px, 200px) minmax(min-content, 80ch) 1fr;
    grid-template-rows: minmax(60px,100px) 1fr 540px 1fr min-content;
}

.bg {
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg.jpg);
    background-size:cover;
}








/* REGEO LOGO */

.grid_Header { 
    background-color: #fff;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid > img {
    height:100%;
    cursor: pointer;
}







/* NAVIGATION MENU */

.grid_Nav {
    text-shadow: 1px 1px 3px black;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    font-family: 'Orbitron', sans-serif;
}

nav > ul {
    list-style-type: none;
    font-size:24px;
    font-weight: 500;
    display: flex;
}

nav > ul > li {
    padding: 10px 20px;
    margin-left: 20px;
}


nav > ul > li:hover {
    text-shadow: 1px 1px 6px #ad0000;
    cursor: pointer;
}










/* MAIN CONTENT */

.grid_Main {
    /* background-image: linear-gradient(90deg, white 30% ,transparent 90%); */
    background-color: rgba(255,255,255,.8);
    border-radius: 40px;
    grid-column: 2 / 3;
    grid-row: 3/ 4;
    font-size: 14px;
    border: 3px solid #366583;
}

.content {
    display: grid;
    grid-template-rows: repeat(5 , minmax(20px, max-content));
}

.content > h1 {
    font-weight: 600;
    padding: 35px 0 20px 60px;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.content > p {
    font-size: 1.5em;
    font-weight: 500;
    padding: 10px 65px;
    letter-spacing: .8px;
}

.content > ul {
    display: grid;
    list-style-image: url(../img/redblack.png);
    padding: 10px 0;
}

.content > ul > li {
    margin-left: 85px;
    padding: 3px 1px 1px 20px;
    letter-spacing: .2px;
    font-size: 1.2em;
}


/* About us */

.about {
    display: grid;
    grid-template-rows: repeat(5 , minmax(20px, max-content));
}

.about p {
    padding: 20px 40px 10px 60px;
    font-size: 18px;
}

.about p:first-child {
    padding-top: 50px;
}

.about p:last-child {
    padding-bottom: 50px;
}


/* Contact */

.contact {
    display:grid;
    grid-template-rows: repeat( 4, min-content);
    height: 100%;
}

.contact h2 {
    padding: 30px 40px 10px 60px;
    font-size:22px;
}


.contact p , a {
    padding: 10px 40px 10px 60px;
    font-size:18px;
}

.contact p:nth-child(2) {
    font-weight: 500;
}

#frame {
   width: 80%;
   margin: 2em auto 1em;
   height: 80%;
}


#frame > iframe {
    border: 3px inset whitesmoke;
    height: 100%;
    width:100%;
}








/* FOOTER */

 .grid_Footer {
    background-color:white;
    grid-column: 1/2;
    grid-row: 5/6;
}

.grid_Footer_Ext {
    grid-column: 2 / 4;
    grid-row: 5/6;
}

.footer {
    font-size: 14px;
    padding: 15px;
    font-weight: 500;
}








/* UTILITY */

.transparent {
    background-image: linear-gradient(90deg, white 20% ,transparent 58%);
} /* transparency of header and footer grids */

.red {
    color:red;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.txtShdw {
    text-shadow: 1px 2px 3px grey;
}

.content p:nth-child(3) {
    font-size: 18px;
}

.off {
    display: none;
}







/* DECORATION LINES */

.wrapRidge {
    grid-column: 1/ 4; 
    grid-row: 2/3;
}

.wrapRidgeBtm {
    grid-column: 1/ 4;
    grid-row: 4/5;
    display:grid;
    grid-template-rows:1fr min-content ;
    align-items: flex-end;
}


.ridge {
    height: .5em;
}

.ridgeBtm {
    height: .5em;
}

.dark {
        background-image: linear-gradient(90deg, #366583 30%, transparent 56%); /* #6A818F */
 }
 
.light {
        background-image: linear-gradient(90deg, #d4d4d4 30%, transparent 56%);
 }






@media screen and ( min-width: 1024px) {
    .transparent {
    background-image: linear-gradient(90deg, white 20% ,transparent 48%);
    }
}





 /* MEDIA QUERY TABLET */

 @media screen and ( max-width:1024px ) {

    /* GRID CONTAINER */
    .container {
        grid-template-columns: minmax(80px, 150px) minmax(min-content, 4fr) 1fr;
        grid-template-rows: 4em 1fr minmax(min-content, max-content) 1fr min-content;
    }



 
      /* FOOTER */

    .grid_Footer {
        background-color:transparent;
        grid-column: 1/span 4;
        display:flex;
        background-image: linear-gradient(90deg, white 50% ,transparent 87%);
    }

    .grid_Footer_Ext {
        display:none;
    }





    /* DECORATION LINES */

    .query_Light {
        background-image: linear-gradient(90deg, #d4d4d4 30%, transparent 73%);
    }

    .query_Dark {
        background-image: linear-gradient(90deg, #366583 30%, transparent 70%); /* #6A818F */
    }
    






    /* NAVIGATION */

    .query_Nav {
        background-image: linear-gradient(90deg, white 42% ,transparent 87%);
    }

    nav > ul > li {
       font-size: 18px;
    }


 
 } /* MEDIA QUERY TABLET */


























 @media screen and ( max-width: 540px ) {







       /* GRID CONTAINER */
    .container {
        grid-template-columns: 100vw;
        grid-template-rows: min-content min-content minmax(min-content, max-content) 1fr min-content;
    }

    .bg  {
        background-image: url(../img/bg1a.jpg);
        background-color: #dddddc;
    }








    /* HEADER */

    .grid_Header { 
        background-color: #fff;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        height: 80px;
    }









    /* NAV */

    .grid_Nav {
        background-color: #fff;
        grid-column: 1/  2;
        grid-row: 2 / 3 ;
        display:flex;
        justify-content: center;
    }

    .grid_Nav > ul {
        font-size: 1.2em;
    }









    /* MAIN */

    .grid_Main {
        grid-column: 1 /  2;
        grid-row: 4/ 5;
    }

    .content h1 {
        font-size: 1.4em;
        padding: 35px 0 20px 30px;
    }

    .content > p {
        padding: 10px 35px;
    }

    .content p:nth-child(2) {
        font-size: 18px;
    }

    .content p:nth-child(3) {
        font-size: 16px;
    }
    
    .content ul > li {
        font-size: 14px;
        margin-left: 65px;
        padding-right: 35px;
    }
    




    /* about */

    .about p {
        font-size: 16px;
    }



    
    /* contact */

    .contact p, .contact a{
        font-size: 16px;
    }

    #frame {
        margin:20px 60px 40px 60px; 
        height: 30em;
     }

    .wrapRidge {
        /* display:none; */
        grid-column: 1/ 2; 
        grid-row: 3/4;
        z-index: 1;
    }

    .wrapRidgeBtm {
        grid-row: 5/6;
    }

    .grid_Footer {
        background-color:white;
        grid-column: 1/2 ;
        grid-row: 6/7;
    }

 }  /* MEDIA QUERY MOBILE */